:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .message-list {
    background-color: #ffffff;
  }
  .date {
    color: #000000;
  }
  .message-text {
    background-color: #e4e6eb;
    color: #000000;
  }
  .user {
    color: #000000;
  }
  .message-form {
    background-color: #f0f2f5;
  }
}
